.title__cards {
    margin-bottom: 50px;
}

.title__cards h2 {
    margin-bottom: 8px;
    color: #fff;
}

.movie__list {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.movie__list::-webkit-scrollbar {
    display: none;
}

.movie__card{
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.movie__poster {
    height: 450px;
}

.movie__title{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.movie__year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 700;
}


.movie__card:hover {
    transform: scale(1.05);
    opacity: 1;
}
