.title__cards {
    margin-bottom: 50px;
}

.title__cards h2 {
    margin-bottom: 8px;
    color: #fff;
}

.movie__list {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 24px;
}

.movie__list::-webkit-scrollbar {
    display: none;
}

.movie__card{
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.movie__poster {
    height: 450px;
    width: auto;
}

.movie__title{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.movie__year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: 700;
}


.movie__card:hover {
    transform: scale(1.05);
    opacity: 1;
}

.movie__caption {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.movie__caption h2 {
    font-size: 28px;
    margin-left: 12px;
}

.refresh {
    color: white;
    padding: 8px;
    margin-left: 16px;
    font-size: 20px;
    border: none;
    background-color: #1FC2FF;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.refresh:hover {
    opacity: 1;
    transform: scale(1.15);
}
