.hero {
    position: relative;
}

.hero__banner{
    width: 100%;
    height: 900px;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero__caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
    color: white;
    opacity: 0.8;
}

.hero__title {
    font-size: 54px;
    max-width: 700px;
    margin-bottom: 12px;
}

.hero__description{
    font-size: 32px;
    max-width: 700px;
    margin-bottom: 18em;
}

.movie__filter--list {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 25px;
}

.movie__filter--link {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 24px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease;
}

.movie__filter--link:hover {
    transform: scale(1.10);
}
