.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    font-size: 20px;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-left: 72px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    opacity: 0.7;
    transition: all 300ms ease;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search__container {
    position: relative;
    width: 100%;
}

.search__bar {
    background-color: transparent;
    color: white;
    padding: 12px 20px 12px 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}

.nav__link:hover {
    opacity: 1;
    transform: scale(1.25);
}

