ul {
    list-style: none;
}

.navbar {
    border: 1px solid red;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    padding: 24px 12px;
    z-index: 1;
    color: #fff;
}

.nav__list {
    padding: 0 32px;
}

.nav__link {
    font-size: 20px;
    margin: 0 28px;
    text-decoration: none;
    opacity: 0.7;
    color: white;
    transition: all 300ms ease;
}

.navbar__left {
    display: flex;
    align-items: center;
}
.search__container {
    display: flex;
    position: relative;
    align-items: center;
}

.search__bar {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    background-color: transparent;
    color: grey;
    margin-right: 4px;
}

.icon {
    position: absolute;
    left: 150px;
    cursor: pointer;
}

.navbar__right {
    width: 20%;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.nav__link:hover {
    opacity: 1;
    transform: scale(1.5);
}
