.footer__container {
    background-color: #000000;
    width: 100%;
}

.social__list {
    display: flex;
    align-items: center;
    justify-self: center;
    list-style: none;
}

.social__link {
    color: white;
    font-size: 32px;
    padding: 12px;
    margin-right: 20px;
    margin-top: 16px;
    transition: all 0.3s ease;
}

.social__link:hover {
    color: #1FC2FF;
    transform: scale(1.25);
}

.footer__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    gap: 25px;
    font-size: 18px;
    list-style: none;
    padding-bottom: 24px;
    place-items: center;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    padding-bottom: 12px;
}

@media(max-width: 768px){
    .footer__list {
        grid-template-columns: auto auto;
        gap: 12px;
    }
}


