* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(34, 34, 34);
}

.App {
  .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
}